# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build directories
build/
dist/

# Operating system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
build
